<img src="<%= image_url('amelia_portrait.png') %>" class="img-hero">

<div class="header">
  <a href="#" class="current">About Us</a>
  <a href="#">Our Peeps</a>
  <a href="#">When&amp;Where</a>
  <a href="#">Registry</a>
  <a href="#">RSVP</a>
  <a href="#">Music</a>
</div>

<ul class="about-us">
  <li class="about-us--left">
    <img src="<%= image_url('kelsey-facepaint.png') %>" height="550px">
  </li>

  <li class="about-us--right">
    <img src="<%= image_url('elias-facepaint.jpg') %>" height="550px">
  </li>
</ul>
