<% content_for :header_image do %>
  <%= image_tag "bodhi_hero.jpg", :class => "img-hero" %>
<% end %>

<div class="registry vertical-split">
  <div class="left">
    <p>
      We love handmade and other unique gifts. If you&rsquo;re struggling to find something, we&rsquo;ve put together things that we could use on ZOLA - a wonderful registry website. Click the logo to the right, choose a category for the intended gift (kitchen, bathroom, etc.), and scroll through some cool things we&rsquo;ve listed. If you&rsquo;d like to buy it, click the picture and ZOLA will lead you through the rest.
    </p>
  </div>
  <%= link_to "https://www.zola.com/registry/kelseyandelias", :target => :_blank do %>
    <%= image_tag "zola-logo-teal.png", :class => "right zola-logo opaque-hover" %>
  <% end %>
</div>

<div class="clear"></div>
