<% content_for :header_image do %>
  <%= image_tag "bodhi_hero.jpg", :class => "img-hero" %>
<% end %>

<div class="registry vertical-split">
  <div class="left">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
    </p>
  </div>
  <%= link_to "https://www.zola.com/registry/kelseyandelias", :target => :_blank do %>
    <%= image_tag "zola-logo-teal.png", :class => "right zola-logo opaque-hover" %>
  <% end %>
</div>

<div class="clear"></div>
