$magenta: #D13D98;
$yellow-light: #FFFFF8;
$teal: #18CCA6;
$teal-dark: #16B593;
$orange: #FABD5A;
$orange-light: #FCE8C7;
$orange-dark: #FFAD29;
$purple: #B7B6F0;
$purple-light: #DEDEFF;
$light-green: #D6FACA;
$light-red: #FFBCBC;
