.fonts {
  font-size: 20px;

  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 35px;
  }
}

.euphoria {
  @extend .fonts;
  font-family: 'Euphoria Script', cursive;
}

.merienda {
  @extend .fonts;
  font-family: 'Merienda', cursive;
}

.over-the-raindow {
  @extend .fonts;
  font-family: 'Over the Rainbow', cursive;
}

.amatic {
  @extend .fonts;
  font-family: 'Amatic SC', cursive;
}

.neucha {
  @extend .fonts;
  font-family: 'Neucha', cursive;
}

.pontano {
  @extend .fonts;
  font-family: 'Pontano Sans', sans-serif;
}
