@import "colors";

.vertical-split {
  .left {
    float: left;
    width: 48%;
  }

  .right {
    float: right;
    width: 48%;
  }
}

h1 {
  color: $teal;
  font-family: 'Neucha', cursive;
  font-size: 70px;
}
