@import "colors";
@import "fonts";

.registry {
  p {
    font-size: 22px;
    margin: 15px;

    &.hint {
      font-size: 17px;
      font-style: italic;
    }
  }

  img.registry-logo {
    width: 22%;
    margin: 0 1%;

    &.sur-la-table {
      position: relative;
      top: -10px;
    }
  }
}
