/*
 *= require_tree .
 *= require_self
*/

@import "colors";
@import "fonts";
@import "parts";
@import "patterns";

body {
  background: $yellow-light;
  color: #222;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 20px;
  min-width: 800px;
}

a {
  color: $teal-dark;

  &:hover {
    color: $teal;
  }
}

.opaque-hover:hover {
  opacity: 0.9;
}

.content {
}

.img-hero {
  width: 100%;
}

.body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.clear {
  clear: both;
}

.header {
  padding: 20px 0 40px;
  text-align: center;

  div, a {
    color: black;
    display: inline;
    font-family: 'Neucha', cursive;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;

    &.current {
      border-bottom: 5px solid $orange;
    }
  }

  a:hover {
    border-bottom: 5px solid $teal;
  }
}

.announcement {
  margin: 0 80px;
  height: 60px;

  p {
    float: left;
    width: 55%;
  }

  .countdown {
    width: 38%;
    float: right;
    font-family: 'Neucha', cursive;
    text-align: center;
    background: $orange;
    border-radius: 4px;

    .title {
      border-bottom: 2px solid #fff;
      font-size: 25px;
      line-height: 30px;
      padding: 10px 10px;
    }

    .days {
      padding: 10px 0;
    }
  }
}

.about-us {
  padding-top: 30px;

  div {
    text-align: center;

    h1 {
      @extend .teal-h1
    }

    img {
      width: 90%;
      height: 90%;
      border: 2px solid $teal;
    }

    p {
      margin: 15px;
    }
  }
}

.description {
  padding-top: 30px;

  h1 {
    @extend .teal-h1;
    text-align: center;
  }

  p {
    padding: 5px 30px;
  }
}

.location {
  li {
    font-size: 24px;
    margin: 20px 0;

    p {
      font-size: 20px;
      padding-left: 20px;
    }
  }
}

.wedding-details {
  h1 {
    padding: 30px 0;
  }

  .tuckahoe-map {
    height: 500px;
    width: 100%;
  }
}

.registry {
  p {
    font-size: 22px;
    margin-top: 5px;
    margin-left: 10px;
  }

  img.zola-logo {
    width: 40%;
  }
}

.peeps {
  text-align: center;

  h1.gals {
    position: relative;
    left: -180px;
  }

  h1.guys {
    position: relative;
    bottom: -180px;
    right: -180px;
  }

  .kelsey, .eli {
    padding: 60px 0;

    li {
      height: 150px;
      list-style: none;
      overflow: none;
      position: absolute;
      text-align: center;
      width: 150px;

      .image {
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
        -webkit-border-radius: 99em;
        -moz-border-radius: 99em;
        border: 2px solid gray;
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
        opacity: 1;
        transition: opacity 0.15s linear;
        height: 100%;
        width: 100%;
      }

      .name {
        display: none;
        font-family: 'Neucha', cursive;
        font-size: 40px;
        position: relative;
        top: -105px;
        width: 80%;
        margin: 0 auto;

        .subtag {
          font-size: 16px;
        }
      }
    }

    li:hover {
      .image {
        opacity: 0.3;
        transition: opacity 0.15s linear;
      }

      .name {
        display: block;
      }
    }
  }

  .eli {
    padding: 210px 0 120px;
  }

  .midsection {
    position: relative;
    bottom: -115px;
    height: 50px;
    // background: $purple;

    .dots {
      position: relative;
      margin: 0 auto;
      width: 300px;

      .dot {
        float: left;
        margin: 0 30px;
        // border-radius: 50%;
        // border: 1px solid $purple;
        background: $orange;
        width: 40px;
        height: 20px;
      }
    }
  }
}

.footer {
  background: $teal;
  font-family: 'Neucha', cursive;
  font-size: 30px;
  line-height: 80px;
  margin-top: 50px;
  text-align: center;
}
