/*
 *= require_tree .
 *= require_self
*/

@import "colors";
@import "fonts";

@import "about_us";
@import "peeps";
@import "details";
@import "registry";
@import "rsvp";
@import "music";

body {
  background: $yellow-light;
  color: #222;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 20px;
  min-width: 800px;
}

.img-hero {
  width: 100%;
}

.header {
  background: rgba($purple, 0.5);
  padding: 20px 0;
  position: relative;
  top: -6px;
  text-align: center;

  div, a {
    color: black;
    display: inline;
    font-family: 'Neucha', cursive;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;

    &.current {
      border-bottom: 5px solid $orange;
    }
  }

  a:hover {
    border-bottom: 5px solid $teal;
  }
}

.content {
  max-width: 1200px;
  margin: 20px auto 0;
  padding: 0 30px;

  a {
    color: $teal-dark;

    &:hover {
      color: $teal;
    }
  }

  h1, h2 {
    color: $teal;
    font-family: 'Neucha', cursive;
    font-size: 70px;
  }

  h2 {
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
  }

  .opaque-hover:hover {
    opacity: 0.9;
  }

  .clear {
    clear: both;
  }

  .description {
    padding-top: 30px;

    h1 {
      @extend .teal-h1;
      text-align: center;
    }

    p {
      padding: 5px 30px;
    }
  }

  .vertical-split {
    .left {
      float: left;
      width: 48%;
    }

    .right {
      float: right;
      width: 48%;
    }
  }

  .alert {
    border-radius: 10px;
    line-height: 50px;
    margin: 0 auto;
    // position: relative;
    // top: -15px;
    margin-bottom: 20px;
    text-align: center;
    width: 620px;

    &.alert-success {
      background: $purple-light;
    }

    &.alert-failure {
      background: $light-red;
    }

    .alert-close {
      color: black;
      font-family: 'Neucha', cursive;
      font-size: 16px;
      float: right;
      padding: 3px 20px;
    }
  }
}

.footer {
  background: $teal;
  font-family: 'Neucha', cursive;
  font-size: 30px;
  line-height: 80px;
  margin-top: 50px;
  text-align: center;
}
